language: go
sudo: false
notifications:
  email: false
jobs:
  include:
    - go: 1.10.x
      # Run on OS X so that we get a CGO-enabled binary for this OS; see
      # https://github.com/golang/dep/issues/1838 for more details.
      os: osx
      stage: deploy
      go_import_path: github.com/xunchangguo/chartify
      install: skip
      script: skip
      before_deploy:
        - ./hack/build-all.bash
      deploy:
        - provider: releases
          api_key:
            secure: WT6xtV6OiVo9js+jwk0DfLL7rNIq99Ay2DyPYcc/QtNCtE5mQeM9bJfsLPJf9KJJ9libe5KNfOb36PzgYtmcUMOKzirzPNSGdCVKw30eB7oEkezxmXqZC24vGd2BSOWyOOLTC0h5QYOGiDC/Jj7MKie+I3AdhosevcHUmaMCsdWcSl/Eb+3RsqCx2Qz5jV9X0kNzbfqbK6sXoWJNTBcSmQwP8210nfTfH6+jUNZiq7wJNaIIwFtCQRcp4byvdvkFozwWBeni2tJmcRj4TT//3ckzVJFJOj/EvNuWHWYKx3Z+bze6NRvx/1wTT7KfQfuOLlWK1k1ZDFIpYSitRoJXqC7Lw+v/NrOia8vNdd+ScYdiQFERe0uIpTUnUMx1N4MTUFF0UHmGkRGaIsPpv/q4d9+BrjAmHp7KoghK09kcmx/ZE+mDFz7+A3x3byHFvlsd0cgvcy96hdWmvgRwJzDHowKAcwZbYSwaEoTipFcc922oZSGouwbxn8XSf4PphLYwzbcxrY1KfMJuDFk5UM7L2ckhfM0mqoNH+00j49RJpvCAHT63SYCSDod8KtPrDuQZP0SMR76UsG8zmN29a4LsD/tI8DBmGPNcxLSo2imbLRSfaH2GNM1E6wDhg/nW7IVWAY8iMWLEYhgkUm9BBaphRgIVQRYQYjqLGSIuzy066lg=
          file:
            - release/dep-linux-amd64
            - release/dep-linux-amd64.sha256
            - release/dep-darwin-amd64
            - release/dep-darwin-amd64.sha256
            - release/dep-windows-amd64.exe
            - release/dep-windows-amd64.exe.sha256
            - release/dep-linux-386
            - release/dep-linux-386.sha256
            - release/dep-darwin-386
            - release/dep-darwin-386.sha256
            - release/dep-windows-386.exe
            - release/dep-windows-386.exe.sha256
          skip_cleanup: true
          on:
            repo: xunchangguo/chartify
            branch: master
            tags: true
addons:
  ssh_known_hosts: github.com
